{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <button type="button"><a href="/supportal/newuser">Create New Account</a></button>
  <button type="button">Forgot Password?</button>
{% endblock %}