<!-- DOCTYPE html -->
<html>
	<body>
		<form method="post" action="">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<!-- <input type="submit" value="Create new user account" /> -->
    		<button type="submit">Create Account</button>
		</form>
	</body>
</html>