<!-- DOCTYPE html -->
<html>
	<body>
	{% if user.is_authenticated %}
		<h1>Hello, {{ request.user.username }}!</h1>
		{% for obj in Issue_list %}

			{{ obj.title }}</br>
			{{ obj.description }}</br>
			{{ obj.timestamp }}</br>

		{% endfor %}
	{% endif %}
	</body>
</html>