<html>
	<body>
		<h1>Create Issue</h1>
		<form method='POST'>{% csrf_token %}
			
			{{ form.as_p }}
			<input type='submit' value= 'Create Post' />
		</form>
		<input type="checkbox" name="priority" value="highpriority">High priority?</br>
	</body>
</html>